<nav aria-label="Breadcrumb" class="w-auto">
  <ol role="list" class="flex overflow-hidden rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center">
      <a routerLink="/admin" class="flex h-10 items-center gap-1.5  text-gray-900 no-underline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class=" text-xs font-medium"> Dashbroad </span>
      </a>
    </li>
    <li class="ml-10 ">
      <span
        class=" inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180">
      </span>

      <a routerLink="/admin/user" class=" flex h-10 items-center gap-1.5  text-gray-900 no-underline text-xs font-medium">
        User
      </a>
    </li>
  </ol>
</nav>
<div class="container">
    <a routerLink="add"  class="btn btn-outline-success">Thêm mới</a>
    <h1>Quản lý sản phẩm</h1>
    <div class="space-y-2">
      <details class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden">
          <summary class="flex cursor-pointer items-center justify-between gap-2 bg-white p-2 text-gray-900 transition">
              <span class="text-sm font-medium"> Lọc theo giá </span>
          </summary>
          <div class="border-t border-gray-200 bg-white">
              <ul class="space-y-1 border-t border-gray-200 p-2">
                  <li>
                      <label for="FilterInStock" class="inline-flex items-center gap-2">
                          <input type="checkbox" id="FilterInStock" class="h-5 w-5 rounded border-gray-300" (click)="sortProductsByPrice()"/>
                          <span class="text-sm font-medium text-gray-700">
                              <button type="button" >Giá sản phẩm tăng dần</button>
                          </span>
                      </label>
                  </li>
  
                  <li>
                      <label for="FilterPreOrder" class="inline-flex items-center gap-2">
                          <input type="checkbox" id="FilterPreOrder" class="h-5 w-5 rounded border-gray-300" (click)="sortProductsByPricee()" />
                          <span class="text-sm font-medium text-gray-700">
                              <button type="button" >Giá sản phẩm giảm dần</button>
                          </span>
                      </label>
                  </li>
              </ul>
          </div>
      </details>
  </div>
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-product-item
          *ngFor="let product of products; let i = index"
          [product]="product"
          [index]="i"
          (onRemove)="removeItem(product.id)"
        ></tr>
      </tbody>
    </table>
  </div>
  <hr />