<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <section class="relative flex h-32 items-end bg-gray-900 lg:col-span-5 lg:h-full xl:col-span-6">
      <img alt="Night"
        src="https://images.unsplash.com/photo-1617195737496-bc30194e3a19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="absolute inset-0 h-full w-full object-cover opacity-80" />
      <div class="hidden lg:relative lg:block lg:p-12">

        <h2 class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">
          Welcome ❤
        </h2>
        <p class="mt-4 leading-relaxed text-white/90">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam
          dolorum aliquam, quibusdam aperiam voluptatum.
        </p>
      </div>
    </section>
    <main aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
      <div class="max-w-xl lg:max-w-3xl">
        <form (ngSubmit)="onHandleAdd()" class="mt-8 grid grid-cols-6 gap-6" [formGroup]="myForm">
          <div class="col-span-6 sm:col-span-3">
            <label for="FirstName" class="block text-sm font-medium text-gray-700">
              Name
            </label>
            <input [(ngModel)]="use.name" type="text" formControlName="name"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-10" />
            <div *ngIf="myForm?.get('name')?.invalid && myForm?.get('name')?.touched">
              <div *ngIf="myForm?.get('name')?.hasError('required')" class="text-red-500">Tên không được để trống </div>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="LastName" class="block text-sm font-medium text-gray-700">
              diachi
            </label>

            <input [(ngModel)]="use.diachi" type="text" formControlName="diachi"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-10" />
            <div *ngIf="myForm?.get('diachi')?.invalid && myForm?.get('diachi')?.touched">
              <div *ngIf="myForm?.get('diachi')?.hasError('required')" class="text-red-500">Địa chỉ không được để trống
              </div>
            </div>

          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700">
              Email
            </label>

            <input [(ngModel)]="use.email" type="email" formControlName="email"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-10" />
            <div *ngIf="myForm?.get('email')?.invalid && myForm?.get('email')?.touched">
              <div *ngIf="myForm?.get('email')?.hasError('required')" class="text-red-500">Email không được để trống
              </div>
              <div *ngIf="myForm?.get('email')?.hasError('email')" class="text-red-500">Email không đúng định dạng</div>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="Password" class="block text-sm font-medium text-gray-700">
              Password
            </label>

            <input [(ngModel)]="use.password" type="password" formControlName="password"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-10" />
            <div *ngIf="myForm?.get('password')?.invalid && myForm?.get('password')?.touched">
              <div *ngIf="myForm?.get('password')?.hasError('required')" class="text-red-500">Password không được để
                trống</div>
              <div *ngIf="myForm?.get('password')?.hasError('minlength')" class="text-red-500">Password phải ít nhất có
                6 ký tự</div>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="PasswordConfirmation" class="block text-sm font-medium text-gray-700">
              Password Confirmation
            </label>

            <input type="password" formControlName="confirmPassword"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-10" />
              <div class="text-red-500" *ngIf="
              myForm?.hasError('mismatch') &&
              (myForm?.get('confirmPassword')?.touched ||
              myForm?.get('confirmPassword')?.dirty)">
              Password không trùng nhau
            </div>
            
          </div>



          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button [disabled]="myForm.invalid"
              class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition ">
              Create an account
            </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a routerLink="/login" class="text-gray-700 underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>