<header aria-label="Page Header" class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-1 sm:px-6 lg:px-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="">Trang Chủ</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="gioithieu">Giới thiệu <span
              class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="thongtin">Thông Tin</a>
          <a class="nav-item nav-link" routerLink="tintuc">Tin Tức</a>

        </div>
      </div>
    </nav>
    <div class="flex items-center justify-end gap-4 mb-10 ">
      <div class="flex items-center gap-4">
        <div class="relative">
          <label class="sr-only" for="search"> Search </label>
          <input class="h-10 w-full ml-10 rounded-full border-none bg-white pe-10 ps-9 text-sm shadow-sm sm:w-56 pl-10"
            id="search" type="text" placeholder="Tìm kiếm" [formControl]="searchControl"
            />
            <li *ngFor="let item of filteredItems$ | async">{{ item }}</li>
        </div>

        <a routerLink="products/:id/cart" class="block shrink-0 rounded-full bg-white p-2.5 text-gray-600 shadow-sm hover:text-gray-700">
          <span class="sr-only">Notifications</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10 -4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </a>
      </div>

      <span aria-hidden="true" class="block h-6 w-px rounded-full bg-gray-200"></span>

      <a routerLink="/login" class="block shrink-0">
        <span class="sr-only">Profile</span>
        <img
          src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/287105063_1391987577894960_406086360133320423_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=vp_fkPTwRDcAX_Omxhc&_nc_ht=scontent.fhan2-5.fna&oh=00_AfBNr8topCwhnxZAc4IPwkOVqrACD-6baIzNP2aVHBc37g&oe=647E2803
          "
          class="h-10  w-10  rounded-full object-cover" />
      </a>
    </div>
    <div>
      <!-- <p class="text-gray-500" *ngIf="currentUser">{{ currentUser }}</p> -->
    </div>
  </div>
</header>
