<h2 class="m-2 font-mono ...">Tin Tức </h2>
<div class="grid grid-cols-3 gap-3 mx-10 my-10 ">
    <a href="https://atino.vn/chinh-sach-doi-hang-n46551.html" class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10 ">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20190511_ZRdvRSoetvMUdgBBrcgQ6ji8.jpg">
        <div class="mt-3 text-gray-500 font-mono ...">Chính sách đổi hàng </div>
    </a>
    <a href="https://atino.vn/chinh-sach-bao-mat-thong-tin-n46562.html" class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20190512_mah5T0JT0D3ffyTqHAWoVi33.jpg">
        <div class="mt-3 text-gray-500 font-mono ...">Chính sách bảo mật</div>
    </a>
    <a href="https://atino.vn/huong-dan-mua-hang-n46558.html" class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20190512_NmfGpLHFwbWikyuqAOokS7bv.jpg">
        <div class="mt-3 text-gray-500 font-mono ...">Hướng dẫn mua hàng</div>
    </a>
    <a class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10 mt-10">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20230524_kbTqjE9I.jpeg">
        <div class="mt-3 text-gray-500 font-mono ...">GIẢI NHIỆT NẮNG HÈ - SALE CỰC RẺ 39K</div>
    </a>
   
    <a class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10 mt-10">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20220811_btNbM5NNvVopdQZxWEV8GvOS.jpg">
        <div class="mt-3 text-gray-500 font-mono ...">Back To School Deal Sốc Chỉ 35K</div>
    </a>

    <a class="block rounded-lg p-3 shadow-sm shadow-indigo-100 no-underline ml-10 mt-10">
        <img src="https://pos.nvncdn.net/f4d87e-8901/art/20230304_WvUjAWvJMpywcE5l.png">
        <div class="mt-3 text-gray-500 font-mono ...">𝐂𝐋𝐄𝐀𝐑 𝐒𝐓𝐎𝐂𝐊 | GIÁ HỦY DIỆT 39K</div>
    </a>

</div>
<div class="">
    <img src="https://pos.nvncdn.net/f4d87e-8901/bn/20230328_uH3ONdyl.jpeg" class="">
</div>