
<section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">
            <div class="grid p-6 bg-gray-100 rounded place-content-center sm:p-8">
                <div class="max-w-md mx-auto text-center lg:text-left">
                    <header>
                        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Watches</h2>

                        <p class="mt-4 text-gray-500">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
                            rerum quam amet provident nulla error!
                        </p>
                    </header>

                    <a routerLink=""
                        class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white transition bg-gray-900 border border-gray-900 rounded hover:shadow focus:outline-none focus:ring no-underline">
                        Shop All
                    </a>
                </div>
            </div>

            <div class="lg:col-span-2 lg:py-8">
                <ul class="grid grid-cols-2 gap-4">
                    <li>
                        <a href="" class="block group no-underline">
                            <img src="https://pos.nvncdn.net/f4d87e-8901/ps/20230515_wuAu71vtvk.jpeg" alt=""
                                class="object-cover w-4/5 rounded aspect-square ml-10" />

                            <div class="mt-3 ml-10">
                                <h3
                                    class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                    Simple Watch
                                </h3>

                                <p class="mt-1 text-sm text-gray-700">$150</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="block group no-underline">
                            <img src="https://pos.nvncdn.net/f4d87e-8901/ps/20230316_Ovt0IwOUbp.jpeg"
                                alt="" class="object-cover rounded aspect-square w-4/5 ml-10" />

                            <div class="mt-3 ml-10">
                                <h3
                                    class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4 ">
                                    Simple Watch
                                </h3>

                                <p class="mt-1 text-sm text-gray-700">$150</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>