<section class="bg-gray-900 text-white">
  <div class=" grid grid-cols-2 "><img class="" src="https://b-f10-zpcloud.zdn.vn/8734364986202116265/f8aa9f61e65d3a03634c.jpg">
    <img class="" src="https://b-f10-zpcloud.zdn.vn/8734364986202116265/f8aa9f61e65d3a03634c.jpg">
  </div>
  <div class="max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="max-w-xl">
      <h2 class="text-3xl font-bold sm:text-4xl">Thông tin cửa hàng</h2>

      <p class="mt-4 text-gray-300">
        Bắt đầu từ thương hiệu thời trang Shop Độc ra đời trong năm 2014, trải qua chặng đường phát triển đầy khó khăn,
        Shop Độc được đổi tên thành ATINO vào năm 2022 với ước mơ gây dựng một thương hiệu thời trang nam có mặt ở từng
        gia đình Việt.
      </p>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">NIỀM TIN CỦA ATINO</h2>

          <p class="mt-1 text-sm text-gray-300">
            Tất cả các khoản chi đều là chi phí, chỉ có chi cho khách hàng và nhân viên là không phí.
            <br>

            Khách hàng là trung tâm, Atino luôn cải tiếng để trải nghiệm khách hàng được nâng cao mỗi ngày.
            <br>
            Tất cả những thành viên của Atino đều đang nỗ lực hết sức và có năng lực để thực hiện mục tiêu chung.


          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">SỨ MỆNH CỦA ATINO</h2>

          <p class="mt-1 text-sm text-gray-300">
            Sứ mệnh của ATINO là “Mang sản phẩm chất lượng nhất, với dịch vụ, giá thành tốt nhất dành cho khách hàng của mình”
ATINO mong muốn mang đến cho toàn bộ khách hàng trên khắp mọi miền tổ quốc Việt Nam những sản phẩm thời trang do chính tay người Việt làm ra. Những trải nghiệm dịch vụ mua sắm vượt ngoài mong đợi, ai cũng sẽ được chào đón, tôn trọng khi đến với ATINO.

Chính vì vậy, ATINO tập trung nghiên cứu chất liệu sản phẩm và cho ra mắt những dòng sản phẩm tối ưu cả về giá cả và chất lượng mang đến cho khách hàng của mình.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">GIÁ TRỊ CỐT LÕI CỦA ATINO</h2>

          <p class="mt-1 text-sm text-gray-300">
            1. Đam mê phục vụ khách hàng.<br>
            2. Coi mình là gốc rễ của mọi vấn đề.<br>
            3. Luôn trung thực, trách nhiệm.<br>
            5. Chủ động, sáng tạo.<br>
            6. Yêu thương và hỗ trợ đồng đội.
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Thông tin cửa hàng</h2>

          <p class="mt-1 text-sm text-gray-300">
            ► 110 Phố Nhổn - HN <br>
            ► 326 Cầu Giấy - HN <br>
            ► 154 Quang Trung - Hà Đông - HN <br>
            ► 225 Bạch Mai - HN <br>
            ⁣► 49 Chùa Bộc - HN <br>
            ⁣► 131 Cầu Giấy - HN <br>
            ► 338 Nguyễn Trãi - Trung Văn - HN <br>
            ► 375 Cầu Giấy - HN <br>
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">Hỗ trợ khách hàng</h2>

          <p class="mt-1 text-sm text-gray-300">
            Hướng dẫn mua hàng <br>

            Hướng dẫn chọn size <br>
            
            Phương thức thanh toán<br>
            
            Chính sách vận chuyển<br>
            
            Chính sách bảo mật<br>
            
            Quy định đổi trả<br>
            
            Chính sách xử lý khiếu nại
          </p>
        </div>
      </div>

      <div class="flex items-start gap-4">
        <span class="shrink-0 rounded-lg bg-gray-800 p-4">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
            </path>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
            </path>
          </svg>
        </span>

        <div>
          <h2 class="text-lg font-bold">về chùng tôi</h2>

          <p class="mt-1 text-sm text-gray-300">
            Địa Chỉ : Số 110 Phố Nhổn, Phường Tây Tựu, Quận Bắc Từ Liêm, Tp. Hà Nội<br>

          SDT : 01D-8004624<br>
            
            Email : hungnvph23034@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="">
  <img src="https://pos.nvncdn.net/f4d87e-8901/bn/20230328_uH3ONdyl.jpeg" class="">
</div>